/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Francisca Soeherman and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing NOvember 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/bricks_bg.jpg)
      center center fixed no-repeat;
    background-size: cover;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(0, 150, 178, .75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px dashed white;
}

   
#logo {
    margin-bottom: 16px;
	border: 3px dashed red;
	text-align: center;
}

h1 {
	font-family: gaultier, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
    font-family: gaultier, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: gaultier, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}
    
nav{
    font-family: gaultier;
    font-size: 1.2em;
    width: 400px;
    margin: 0 auto;
    border: dashed turquoise;
    border-width: 3 px 0; 
    text-align: center;
    margin-top: 2em;
    }

nav li{
    display: inline;
    }

nav a{
    display:inline-block;
    padding: 10px;
    }

a{
    color:#444;
    text-decoration:none;
    font-weight: bold;
    }

a:hover{
    color:black;
    background:pink;
    }