/*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Francisca Soeherman and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/background.jpg)
      center center fixed no-repeat;
    color: #d0bca6;
    background-size: cover;
	
	
}

.bottom {
    width: 65%;
	padding: .5% 2% 2% 2%;
    margin: 0px auto 5% auto;
 	background: rgba(208, 188, 166, .85); /*this uses opacity of 85% for the background color*/
	text-align: center;
}

.invisible{
    width: 100%;
    padding: .5%;
    background: rgba(200, 200, 200, .0);
    text-align: center;
}

.center {
    width: 65%;
	padding: 2%;
    margin: 5% auto 0px auto;
 	background: rgba(20, 80, 120, .75); /*this uses opacity of 75% for the background color*/
	text-align: center;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
}

h1 {
    font-family: questa-grande,serif;
    font-weight: 400;
    font-style: italic;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
    font-family: quasimado-2, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: quasimado-2, sans-serif;
    font-weight: 400;
    font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}
    
nav{
   font-family: neue-kabel, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    }

nav li{
    display: inline;
    }

nav a{
    display:inline-block;
    padding: 12px;
    }

a{
    color:#444;
    text-decoration:none;
    font-weight: bold;
    }

a:hover{
    color:black;
    }

nav.blend ul li a {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
nav.blend ul li a:hover {
  color: #fff;
}
nav.blend ul li a:before,
nav.blend ul li a:after {
  position: absolute;
  width: 0px;
  height: 100%;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  background: #145078;
  transition: all .5s;
  margin: auto;
  content: '.';
  color: transparent;
  z-index: -1;
  opacity: 0.75;
}
nav.blend ul li a:before {
  left: 0;
}
nav.blend ul li a:after {
  right: 0;
}

nav.blend ul li a:hover:after,
nav.blend ul li a:hover:before {
  width: 100%;
}

